@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --ratio: 3.74;
  --cta-color: rgb(0, 102, 254);
  --light-color-bg: rgb(238, 241, 247);
  --dark-color-bg: rgb(55, 65, 81);
  --grey-color: rgb(107, 114, 128);
  --leading: 0.025em;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

main {
  width: 700px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 2rem;
}

button {
  /* display: block; */
  margin-top: 2rem;
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: calc(3px * var(--ratio));
  border: black solid 2px;
  letter-spacing: ccalc(3 * var(--leading, 0.025em));
  font-family: inherit;
  color: white;
  /* background-color: var(--light-color-bg); */
  font-size: large;
  font-weight: 700;
  background-color: goldenrod;
}

button:focus {
  outline: none;
  border: 0.0625rem solid transparent;
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
}

button.cta {
  background-color: var(--cta-color);
  color: white;
}

button.cta:focus {
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
}

#open_dialog {
  
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#close_dialog {
  margin: 0 auto;
}

dialog {
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  color: white !important;
  max-width: 400px;
  background-image: linear-gradient(rgb(56, 68, 68), rgb(39, 47, 47));
  border: rgb(255, 255, 255) inset 3px;
}

dialog img {
  display: block;
  max-width: 75%;
  margin: 1rem 0 auto 2rem;
}

dialog::backdrop {
    background-image: url("img/tuli.gif");
backdrop-filter: blur(1px) brightness(5%) hue-rotate(100deg) saturate(20) ;

background-repeat: no-repeat;
background-size: cover;
}

.h1 {
  margin: 2rem 0 1rem;
  font-weight: 900;
}

.h2 {
  margin: 2rem 0 1rem;
  font-weight: 800;
}

p {
  color: var(--grey-color);
  letter-spacing: var(--leading, 0.025em);
  line-height: 1.625;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.flex-space-between {
  justify-content: space-between;
}

.flex button {
  margin: 8px auto;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.dialogbox {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.error {
  color: red;
  font-size: 14px;
}

input:valid {
  border: 5px inset rgb(0, 255, 0);
  transition: border-color 0.3s ease;
}

input:invalid {
  border: 5px inset rgb(255, 0, 166);
  transition: border-color 0.3s ease;
}