* {
     margin: 2;
    padding: 2;
    box-sizing: border-box;
}

:root {
    --sinine: rgb(0, 112, 129);
  }

body {
        background-image: url("img/pilvi.gif");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        padding: 15px;
    background-color: var(--sinine);
    
}

body:has(dialog[open]) {
    overflow-y: hidden;
}

.valkonen {
    color: white;
    font-size: 42px;
    padding-left: 50px ;
}

.huom {
    color:crimson;
    font-weight: bolder;
    font-style: italic;
}

/* dialog {
    background-color: var(--sinine);
} */

.box {
    height: 50px;
    width: 200px;
    /* border: 2px solid black; */
    color: aliceblue;
    display: inline-block;
     box-sizing: content-box; 
    margin: auto;
    padding: 1px;
    text-align: center;
    font-size: 100%;
    float: left;
    margin-left: 20px; 
    margin-top: 1px;
    
}

#laatikko {
    width: 100px;
    height: 100px;
    background-color: beige;
    margin: auto;
    padding: 10px;
    border: 10px dashed black;
    box-sizing: content-box;
}

.grey {
     background-color: darkgoldenrod;
     
    }

.clear { clear: both;}

.clearfix::after {
content: "";
clear: both;
 display: table;
    }

p {
    color: rgb(255, 255, 255);
    font-size: large;
}

.lause{
    color: black;
}

.luuranko{
    width: 50%;
    height: auto;
    float: left;
    margin-right: 10px;
}

.kokki{
    height: 100px;
    float:left;
    margin-right: 4px;
    margin-left: 15px;
    padding: 10px;
    scale: 90%;
    
    
}

main {
background-image: linear-gradient(goldenrod, rgb(182, 123, 67));
    padding: 20px;
    border: 15px ridge var(--sinine);
    margin: 40px auto;
    width: 50%;
    /* overflow: hidden; */
    position: relative;
}

nav {
    overflow: hidden;
}

.moikka {
    width: 250px;
    height: auto;
    position: absolute;
    top: -260px;
    right: -30px;
    z-index: 1;

}

.moikka2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: fixed;
    right: 0;
    top: calc(50% - 50px);
}
.header {
/* padding: 60px; */
height: 100px;
text-align: left;
background: goldenrod;
color: white;
font-size: 30px;
margin: 30px auto;
    width: 100%;
     overflow: hidden; 
    border: 2px solid black;
    font-weight: bold;
}

.alapalkki {
    background-color: goldenrod;
    overflow: hidden;
    position: bottom;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
  }

header {  
     display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.desktop-menu {
    display: flex; /* Display the menu on larger screens (computer) */
    padding: 5px;
}

.desktop-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.4s;
}

.menu-toggle {
    display: none; /* Hide the menu button on larger screens */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

.mobile-menu {
    display: none; /* Hide the menu on smaller screens (phone) */
    flex-direction: column;
    background-color: darkcyan;
    position: absolute;
    top: 128px;
    right: 0px;
    width: 190px;
    
    z-index: 3;
    text-align: center;
    border: 2px solid black;
}

.mobile-menu a {
    display: block;
    text-align: center;
    /* padding: 10px; */
     color: #fff; 
    text-decoration: none;
    transition: 0.4s;


}

@media screen and (max-width: 768px) {
    .desktop-menu {
        display: none; 
    }

    .menu-toggle {
        display: flex; 
    }

    .mobile-menu.active {
        display: block; 
    }
}
